python-dotenv
flask
flask-cors
flask-limiter
gunicorn
nba_api
requests
pandas
pyarrow
torch
torchvision
mediapipe
opencv-python
scikit-learn
matplotlib
seaborn
tqdm
yt-dlp==2026.3.17
ultralytics==8.4.41
ultralytics-thop==2.0.18
xgboost
